-c constraints.txt
Django==3.0.11
django-admin-sortable
django-ckeditor
django-cors-headers
django-db-geventpool
django-debug-toolbar
django-environ
django-hijack
django-htmlmin
django-parler
django-sekizai
django-webpack-loader
factory_boy
gevent
gunicorn
isort
pillow
psycopg2-binary
pytest-cov
pytest-django
python-memcached
python-slugify
snapshottest
splinter[django]
whitenoise
