{% extends "layouts/main.html" %}

{% block title %}Acerca de{% endblock %}

{% block content %}
  <div class="container">
    <h1>Acerca de</h1>
    <p>
      Este es un sitio web de cursos de desarrollo y programación,
      tanto para los que están empezando como para los que ya tienen más experiencia.
    </p>
    <p>
      Este proyecto nació de la idea de compartir el conocimiento a los demás.
      Considero que tengo mucho conocimiento y experiencia en desarrollo, y todo ese conocimiento
      lo adquirí gracias a otras personas que ponen contenido en internet de forma libre y gratuita.
      Considero egoísta, si tienes un conocimiento y no lo compartes.
      El conocimiento debe ser libre y debe estar al alcance de todos, y esa es la motivación de crear este proyecto.
    </p>

    <p>
      Y no solo eso, sino ofrecer contenido de calidad, que realmente enseñe a los demás.
      No voy a venderte una falsa ilusión, no serás un gran desarrollador de un día para el otro tan solo siguiendo mis cursos.
      Lo que caracteriza a un buen desarrollador, hablando de forma muy general, es la capacidad de pensar por cuenta propia.
      Encontrar las soluciones más eficaces y eficientes para cada situación, y eso es algo que se va formando con el tiempo y la experiencia.
      Pero te guiaré, si estás empezando, para que tengas buenas bases y empieces a conocer lo que hay en el mundo del desarrollo.
      Y si ya tienes experiencia, te guiaré con cursos objetivos que sin duda aportarán algún valor a tu <i>stack</i>.
    </p>
    <h2>¿Por qué ghost2501?</h2>
    <p><i>ghost2501</i> es el nick que uso en internet desde hace tiempo, por eso lo uso aquí también.</p>
  </div>
{% endblock %}
