{% extends "layouts/main.html" %}

{% block title %}Acerca de{% endblock %}

{% block content %}
  <div class="container">
    <h1>Apóyame</h1>
    <p>
      No me gusta mendigar. Pero este proyecto lo estoy haciendo sin ningún ánimo de lucro.
    </p>
    <p>
      Al momento de escribir esto, estoy alojando el sitio gratuitamente en heroku,
      no tiene dominio ni servidor privado, sería ideal si pudiera ponerle un dominio y
      llevarlo a otro servidor.
      Cualquier apoyo monetario sería muy gratificante y además permitiría costear el dominio y servidor
      con más facilidad, ya que no tengo los medios ni los recursos financieros para hacerlo.
    </p>
    <p>
      Lastimosamente en el país donde estoy (Paraguay) no podemos recibir dinero por PayPal, pero sí tenemos
      otros medios. Mi email para contacto es <a href="mailto:ghost2501dev@gmail.com">ghost2501dev@gmail.com</a>.
    </p>
    <p>
      Si no puedes hacerlo, me puedes apoyar igual compartiendo los cursos.
    </p>
    <p>
      ¡Gracias!
    </p>
  </div>
{% endblock %}
